<a href="https://colab.research.google.com/github/jmj732/Bigdata-Analysis/blob/master/%5B%EB%AC%B8%EC%A0%9C%ED%95%B4%EA%B2%B05%5D_%ED%8C%90%EB%8B%A4%EC%8A%A4%EA%B8%B0%EC%B4%884_ipynb_2213%EC%A1%B0%EC%9E%AC%EB%AF%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 그룹핑

[데이터 링크 ](https://drive.google.com/drive/folders/1mtDnW4uoTrd4byTBx46v0prpUPfAMmbP?usp=drive_link)
1. exam_sample.csv
2. mpg.csv

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd
import numpy as np

exam = pd.read_csv( '/content/drive/MyDrive/exam_sample.csv', encoding='euc-kr')
exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_no  10 non-null     int64
 1   class       10 non-null     object
 2   science     10 non-null     int64
 3   english     10 non-null     int64
 4   math        10 non-null     int64
 5   sex         10 non-null     object
dtypes: int64(4), object(2)
memory usage: 612.0+ bytes

In [17]:
grouped = exam.groupby('class')
grouped

for key, group in grouped:
  print(key)
  print(group)

A
   student_no class  science  english  math sex
0           1     A       50       98    50   m
1           2     A       60       97    60   w
2           3     A       78       86    45   w
3           4     A       58       98    30   m
B
   student_no class  science  english  math sex
4           5     B       65       80    90   w
5           6     B       98       89    50   m
6           7     B       45       90    80   m
7           8     B       25       78    90   w
C
   student_no class  science  english  math sex
8           9     C       15       98    20   w
9          10     C       45       93    50   w

In [29]:
exam['math'].groupby(exam['class']).mean()
exam.groupby('class')['math'].mean()
exam.groupby('class').agg( mean_math=('math', 'mean'))

exam.groupby(['class', 'sex'])['math'].mean()
# [ 연습문제 ] 평균점수가 40미만인 그룹들의 데이터를 출력하라
test = grouped.filter(lambda x : x.math.mean() < 40)
test

   student_no class  science  english  math sex
8           9     C       15       98    20   w
9          10     C       45       93    50   w

In [21]:
df = pd.read_csv("cafe4.csv")
df.head(2)

FileNotFoundError: [Errno 2] No such file or directory: 'cafe4.csv'

In [ ]:
# 원두 기준, 평균

In [ ]:
# 원두와 할인율 기준, 평균

In [ ]:
# 1개 인덱스 형태로 리셋

**MPG 데이터 분석**

*   어떤 차종의 도시 연비가 높은지 비교 : category( 자동차 7종류 ), cty(도시연비) - 카테고리별 도시연비 평균을 내림차순으로 정렬
*   어떤 회사 자동차의 hwy(고속도로연비)가 높은지 알아보려고 한다. hwy평균이 가장 높은 회사 세 곳을 출력하시오.
*   어떤 회사에서 ‘compact’차종을 가장 많이 생산하지는지 알아보려고 한다. 회사별 ‘compact’차종 수를 내림차순으로 정렬해 출력하시오.

In [34]:
mpg= pd.read_csv( '/content/drive/MyDrive/mpg.csv', encoding='euc-kr')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  category      234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

In [62]:
mpg.groupby('category')['cty'].mean().sort_values(ascending=False)
mpg.groupby('manufacturer')['hwy'].mean().sort_values(ascending=False).head(3)
compact_cars = mpg[mpg['category'] == 'compact']
compact_cars['manufacturer'].value_counts().sort_values(ascending=False)

manufacturer
audi          15
volkswagen    14
toyota        12
subaru         4
nissan         2
Name: count, dtype: int64

In [30]:
# 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "메뉴":['아메리카노', '카페라떼', '에스프레소', '카페모카', '바닐라라떼'],
    "가격":[4500, 5000, 4000, 5900, 5300],
    "칼로리":[10, 110, np.NaN, 210, np.NaN],
    "원산지":['과테말라','브라질','과테말라', np.NaN, np.NaN]
})
df

AttributeError: `np.NaN` was removed in the NumPy 2.0 release. Use `np.nan` instead.

**1. '칼로리' 컬럼 결측치는 칼로리 데이터 중 최소값으로 결측치를 채우시오**

**2. '원산지' 컬럼 결측치는 원두 데이터 중 최빈값으로 결측치를 채우시오**

**3. 가격이 5000 이상인 데이터의 수를 구하시오**

**4. ’이벤트가’ 컬럼을 만들고 기존 가격에서 50% 할인된 가격을 채우시오**

**5. '칼로리' 컬럼을 삭제하시오**
-

**6. 앞에서부터 3개의 데이터만 선택하시오(loc 활용)**

**7. 앞에서부터 3개의 데이터만 선택하시오(iloc 활용)**

**8. 주어진 데이터(df)에서 아래 값을 loc를 활용해 데이터 프레임으로 출력하시오**
- 카페라떼	5000
- 에스프레소 4000

**9. 주어진 데이터(df)에서 아래 값을 iloc를 활용해 데이터 프레임으로 출력하시오**
- 카페라떼	5000
- 에스프레소 4000

**10. 메뉴 중 가격이 가장 비싼 순으로 정렬해 상위 3개 값을 구하시오**